*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
    background-color: black;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    height: 12vh;
}

/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.navbar-nav li a{
    text-decoration: none; 
    color:white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color:white;
    color:black;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color:white;
    color:black;
}
/*  */



.picture{
    position: relative;
    top: 50px;
    left: 65px;
    width:300px;
    height: auto;
    float: left;
    margin: 15px 15px;
    transition: 0.6s ease-out;
}

.picture:hover{
    transform: scale(1.5);
    z-index: 2;
    transition: 0.3s ease-in;
}


@media only screen and (max-width : 600px){

    .navbar-nav{
        float: right;
        margin-right: 0px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    .logo img{
        float: left;
        width: 40px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    .bawahankaki{
        position: relative;
        height: 12vh;
        width:  100vw;
    }
    .picture{
        top: 220px;
    }

}