*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    /* background-image: url(""); */
    background-position: center;
    display: block;
    height: 100vh;
    background-size: cover;
    animation: fade 0.6s;  
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 1em;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px;
}

.navbar-nav li a{
    text-decoration: none; 
    color: white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color: white;
    color: black;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color: white;
    color: black;
}
/*  */

.captiontengah{
    text-shadow: 1px 1px 10px black;
    font-size: 4em;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 420px;
    text-align: center;
    margin: 0;
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.main{
    margin: auto;
}

/*  PORTOFOLIO BUTTON */
.portobutton{
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-size: 20px;
    border: 2px solid white;
    background: black;
    padding: 15px 15px;
    margin-left: 140px;
    margin-top: 200px;
    transition: 0.6s ease;
}

.portobutton:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}
/*  */

/*  */
.introbackground{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

.introbackground img{
    float: left;
    position: relative;
    height: 35vw;
    width: auto;
    margin-left: 140px;
    margin-top: 50px;
}

.intropengamen{
    position: relative;
    text-align: right;
    margin-right: 125px;
    top: 175px;
    font-size: 3.8vw;
    font-style: bold;   
}
 
.introcerita{
    position: relative;
    float: right;
    text-align: justify;
    margin-right: 215px;
    top: 220px;
    font-size: 1.7vw;
}

.resumebutton{
    text-decoration: none;
    float: right;
    -webkit-text-fill-color: white;
    font-size: 20px;
    border: 2px solid white;
    background: black;
    padding: 15px 15px;
    margin-right: -215px;
    margin-top: 480px;
    transition: 0.6s ease;
}

.resumebutton:hover{
    text-decoration: none;
    position: relative;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s ease;
}
/*  */

.bawahankaki{
    position: relative;
    height: 18vh;
    width:  100vw;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}

@media only screen and (max-width : 600px){
.navbar-nav{
    float: right;
    margin-right: 0px;
    font-size: 0.8em;
    margin-top: 20px;
}


.captiontengah{
    text-shadow: 1px 1px 10px black;
    font-size: 3em;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 450px;
    text-align: center;
    margin: 0;
} 

.logo img{
    float: left;
    width: 40px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

.main{
    margin: auto;
}

/*  PORTOFOLIO BUTTON */
.portobutton{
    font-size: 1em;
    border: 2px solid white;
    background: black;
    margin-left: 170px;
    margin-top: 100px;
}

.portobutton:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}
/*  */

/*  */
.introbackground{
    position: relative;
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

.introbackground img{
    position: relative;
    height: 70vw;
    width: auto;
    margin-left: 140px;
    margin-top: -450px;
}

.intropengamen{
    position: relative;
    text-align: center;
    margin-left: 0px;
    left: 70px;
    top: 430px;
    font-size: 2em;
    font-style: bold;   
}
 
.introcerita{
    position: relative;
    text-align: justify;
    margin-top: 200px;
    left: 110px;
    font-size: 1em;
}

.resumebutton{
    text-decoration: none;
    float: right;
    font-size: 10px;
    background: black;
    padding: 10px 10px;
    margin-right: -220px;
    margin-top: 600px;
    transition: 0.6s ease;
}
/*  */

.bawahankaki{
    position: relative;
    height: 12vh;
    width:  100vw;
}

.captionbawah{
    position: relative;
    font-size: 10px;
    text-align: center;
    top: 45px;
}
    
}