*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
}

html{
    scroll-behavior: smooth;    
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 20px;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.navbar-nav li a{
    text-decoration: none; 
    color:black;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color:black;
    color: white;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color:black;
    color:white;
}
/*  */

.turuninbro{
    position: relative;
    font-size: 160px;
    top: 250px;
    text-align: center;
}
/* BLINK-BLINK KACINGKACING */
.blinker { 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1,0,0,1);
    animation-duration: 1s;
    display: inline-block;
    margin-top: 460px;
    margin-left: 740px;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(white,.3);
  }
  
  @keyframes blinker { 
    from { 
        opacity: 1.0;
    } to { 
        opacity: 0.0;
    }
}  
/*  */

header{
    height: 12vh;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}


/*  grid */
.grid{
    margin-top: 10px;
    height: 2644px;
    width: auto; 
}
.kirisatu{
    z-index: 2;
}
.ganteng{
    width: 550px;
    margin-top: 106px;
    left: 100px;
}
.experience{
    text-align: center;
    margin-top: 350px;
    margin-bottom:350px;
    font-size: 100px;
    font-style: bold;  
}

.skills{
    text-align: center;
    margin-top: 700px;
    margin-bottom: 400px;
    font-size: 100px;
    font-style: bold;  
}
.aboutmehjudul{
    text-align: center;
    margin-top: 40px;
    font-size: 100px;
    font-style: bold;   
}
.aboutmehisi{
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
}
.senbud{
    width: 250px;
    margin-top: 320px;
    margin-left: 270px;
}
.uiaw{
    width: 600px;
    margin-top: 100px;
    margin-left: 100px; 
}
p{
    text-align: center;
    margin-top: 20px;
}
/*  */

/*  */
body{
    font-family: Helvetica, Arial, sans-serif;
}
@keyframes load{
    from {
        width: 0%
    }
}
@-webkit-keyframes load{
    from {
        width: 0%
    }
}
@-moz-keyframes load{
    from {
        width: 0%
    }
}
@-o-keyframes load{
    from {
        width: 0%
    }
}

/* skillsbar */
.skillsbar{
    margin-top: 195px;
}
.bar{
    background-color: lightgrey;
    padding: 2px;
    border-radius: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.bar::before{
    content:  attr(data-skill);
    background-color: black;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 2s 0s;
    -webkit-animation: load 2s 0s;
    -moz-animation: load 2s 0s;
    -o-animation: load 2s 0s;
}

.bar.learning::before{
    width: calc(20% - 10px);
}
.bar.basic::before{
    width: calc(40% - 10px);
}
.bar.intermediate::before{
    width: calc(60% - 10px);
}
.bar.advanced::before{
    width: calc(80% - 10px);
}
.bar.expert::before{
    width: calc(100% - 10px);
}
/*  */

/*  */
.bawahankaki{
    position: relative;
    height: 150px;
    width: 1680px;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}



@media only screen and (max-width : 600px){
    .navbar-nav{
        float: right;
        margin-right: 0px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    .logo img{
        float: left;
        width: 40px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    .bawahankaki{
        position: relative;
        height: 12vh;
        width:  100vw;
    }
    
    .captionbawah{
        position: relative;
        font-size: 10px;
        text-align: center;
        top: 45px;
    }
}