.video{
    position: relative;
    height: 895px;
    width: 1680px;
    background-color: grey;
    animation: fade 0.6s;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.video p a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    transition: 0.6s ease;
}

.video p a:hover{
    -webkit-text-fill-color: black;
    transition: 0.6s ease;
}

.video img{
    width: 150px;
    height: auto;
    margin-left: 750px;
    margin-top: 340px;
}


@media only screen and (max-width : 320px){
    
}