<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Background.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>
            akbarrafs - Background
        </title>
    </head>
    <body style="position: absolute; width: 100%; height: 100%" class="bodystyle">
        <header>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}">
            </div>
            <nav class="navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                    <li class="nav-item active"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
                </ul>
            </nav>     
        </header>
        <section class="introbackground">
            <p class="intropengamen">
                "Bang, tolong ajari saya main gitar!"
            </p>
            <p class="introcerita">
                Saya ingat betul ketika saya mengucapkan kalimat
                tersebut. “Oh boleh, tapi yang mengajar adalah<br> anak
                saya, dia juga ngamen kayak saya dek.” Tanpa basa
                - basi, saya setuju dan untungnya bapak <br>saya menyetujuinya.
                Saya ngga ngerti bagaimana bisa saya minta diajarkan main
                gitar dengan seorang<br> pengamen. Mungkin juga karena saya sudah
                terlanjur kagum dengan cara bermain si bapak pengamen.<br>
            </p>
            <p class="introcerita2">
                Sekitar 1-2 minggu (pertemuan 2 x seminggu), 
                saya sudah bisa memainkan kunci C, A, D, E, G<br> dengan lancar. 
                Belajarnya sangat simple, saya hanya diajar bermain lagu - 
                lagu band yang berkunci<br> dasar di C, D, A E, G. Kelemahannya 
                adalah saya tidak dikenalkan apa itu tangga nada dan juga apa<br> 
                itu tablature, sehingga pr nya saya harus belajar sendiri karena 
                beliau tidak mengerti. Tapi dari situ<br> saya juga senang karena tidak 
                merasa harus terbebani bermain gitar dengan target kelulusan atau<br>
                kenaikan tingkat seperti di tempat les pada umumnya. Sekarang, 
                saya bisa mengenal tangga nada dan<br> juga sudah bisa membaca tablature.
                Saya akan terus belajar dan mencari tahu tentang gitar.
            </p>
            <div>
                <img src="{% static 'image/pengamenlagi.jpg' %}">
            </div>
        </section>
        <footer class="bawahankaki">
            <p class="captionbawah">
                © 2019 Akbar Rafsanjhani. All rights reserved.
            </p>
        </footer>
    </body>
</html>