<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/ContactList.css' %}" />
        <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" /> -->
        <title>
            akbarrafs - Contact List
        </title>
    </head>
    <section class="webnya">
    <p><a href="{% url 'catalog:Contact' %}">
        X
    </a></p>
    <img class="fesbok" src="{% static 'image/facebook.svg' %}" onclick="window.location.href='https://www.facebook.com/akbarsts';">
    <img class="ig" src="{% static 'image/instagram.svg' %}" onclick="window.location.href='https://www.instagram.com/akbarrafs_/';">
    <img class="yt" src="{% static 'image/youtube.svg' %}" onclick="window.location.href='https://www.youtube.com/channel/UCbp10xq0yJmEK7f2mdCyddg?view_as=subscriber';">
    <img class="meyl" src="{% static 'image/mail.png' %}">
    <img class="twit" src="{% static 'image/twitter.svg' %}" onclick="window.location.href='https://twitter.com/mogearogan';">
    </section>
</html>