<!DOCTYPE html>
<html lang="en">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Gallery.css' %}"/>
        <title>
            akbarrafs - Gallery
        </title>
    </head>
    <header>
        <div class="logo">
            <img src="{% static 'image/logo.png' %}">
        </div>
        <nav class="navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
            </ul>
        </nav> 
    </header>
    <section>
        <div class="container">
            <img class="picture" src="{% static 'image/Dua.jpg' %}">
            <img class="picture" src="{% static 'image/Tiga.jpg' %}">
            <img class="picture" src="{% static 'image/Empat.jpg' %}"> 
        </div>
        <div class="container">
            <img class="picture" src="{% static 'image/Lima.jpg' %}">
            <img class="picture" src="{% static 'image/Enam.jpg' %}">
            <img class="picture" src="{% static 'image/Tujuh.jpg' %}">
        </div>
    </section>
    <footer class="bawahankaki">
            <p class="captionbawah">
                © 2019 Akbar Rafsanjhani. All rights reserved.
            </p>
    </footer>
</html>