<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head> 
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}"> 
        <link rel="stylesheet" type="text/css" href="{% static 'css/Home.css' %}" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/parallax.min.js' %}"></script>
        <title>
            akbarrafs - Home
        </title>
    </head>
    <body>
        <header data-parallax="scroll" data-image-src="{% static 'image/guitaristEdit.JPG' %}">
            <div class="main">
                <div class="logo">
                    <img src="{% static 'image/logo.png' %}">
                </div>
                <nav class="navbar-expand-lg">
                    <ul class="navbar-nav">
                        <li class="nav-item active"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                        <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                        <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                        <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                        <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                        <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
                    </ul>
                </nav> 
                <h1 class="captiontengah">
                    "GUITAR IS NOT A THING, GUITAR IS ME"
                </h1>
                <div>
                    <a href = "{% url 'catalog:Portofolio' %}">
                    <button  class="portobutton">
                        See My Portofolio
                    </button>
                    </a>
                </div>
            </div>
        </header>
        <section class="introbackground">
            <div>
            <p class="intropengamen">
                Belajar dari Seorang Pengamen
            </p>
            <p class="introcerita">
                Saya terkagum - kagum dengan pengamen yang bermain musik<br> didepan rumah saya.
                Apalagi   dari   cara  ia menggenjreng <br> gitarnya, sungguh hebat!
                “Bagaimana saya bisa belajar gitar <br>sepertinya?”
            </p>
            <div>
                <a href = "{% url 'catalog:Background' %}">
                    <button class="resumebutton">
                        See My Background
                    </button>
                </a>
            </div>
                <img src="{% static 'image/Pengamen.jpg' %}">
            </div>
            
        </section>
        <footer class="bawahankaki">
            <p class="captionbawah">
                © 2019 Akbar Rafsanjhani. All rights reserved.
            </p>
        </footer>
    </body>
</html>