<!DOCTYPE html>
<html lang="en">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/Jadwal.css' %}"/>
        <title>
            akbarrafs - Schedule
        </title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}">
            </div>
            <nav class="navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                    <li class="nav-item active"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
                </ul>
            </nav> 
        </header>
            <!-- Modal -->
            <form action="" method="POST">
                {% csrf_token %}
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">
                                    Add Task..
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span class="bg-white" aria-hidden="true">
                                        &times;
                                    </span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="bg-white">
                                    <input name="hari" type="text" placeholder="Day"><br>
                                    <input name="tanggal" type="date"><br>
                                    <input name="waktu" type="time"><br>
                                    <input name="kegiatan" type="text" placeholder="Task"><br>
                                    <input name="lokasi" type="text" placeholder="Location"><br>
                                    <input name="kategori" type="text" placeholder="Category"><br>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button close" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
              <div class="container-fluid konten">
                      <div>
                    <a>
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Add Task!
                    </button>
                    </a>
                </div>
            <div class="notcomp">
                <h3 class="textcuy">
                    Not Completed (Click for done)
                </h3>
                <a>
                    {% for hasil in hasilan %}
                    <form action="{% url 'catalog:delete' hasil.id %}">
                        <button class="tomblo" type="submit" name="delete">
                        {{ hasil.kegiatan  }}<br>
                            {{ hasil.hari }}, {{ hasil.tanggal }}, {{ hasil.waktu }}<br>
                            {{ hasil.lokasi }}<br>
                            {{ hasil.kategori }}<br>
                        </button>
                    </form>
                    {% endfor %}
                </a>
            </div>
        </div>
    </body>
</html>