<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Portofolio.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <title>
            akbarrafs - Portofolio
        </title>
    </head>
<body>
    <header>
        <div class="logo">
            <img src="{% static 'image/logo.png' %}">
        </div>
        <nav class="navbar-expand-lg">
            <ul class="navbar-nav">
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                <li class="nav-item active"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
            </ul>
        </nav>   
    </header>
    <section class="topbackground">
        <div class="phum">
            <a href="{% url 'catalog:Video' %}">
            <img src="{% static 'image/phum.PNG' %}">
            </a>
        </div>
        <p class="phumcaption">
            Me tryin to enjoy my <br> life even i'm not her<br> lover boy.
        </p>
    </section>
    <section class="midbackground">
        <div class="boy">
            <a href = "{% url 'catalog:Video' %}">
            <img src="{% static 'image/boy.PNG' %}">
            </a>
        </div>
        <p class="boycaption">
            Who is prepared <br>to let someone go?
        </p>
    </section>
    <section class="botbackground">
        <div class="paul">
            <a href = "{% url 'catalog:Video' %}">
            <img src="{% static 'image/paul.PNG' %}">
            </a>
        </div>
        <p class="paulcaption">
            Take this broken wings<br> and learn to fly.
        </p>
    </section>
    <footer class="bawahankaki">
        <p class="captionbawah">
            © 2019 Akbar Rafsanjhani. All rights reserved.
        </p>
    </footer>
</body>
</html>