<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Resume.css' %}"/>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'js/parallax.min.js' %}"></script>
        <title>
            akbarrafs - Resume
        </title>
    </head>
    <body>
        <header>
            <div class="logo">
                <img src="{% static 'image/logo.png' %}">
            </div>
            <nav class="navbar-expand-lg">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Home' %}"> HOME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Portofolio' %}"> PORTOFOLIO</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Background' %}"> BACKGROUND</a></li>
                    <li class="nav-item active"><a class = "nav-link" href = "{% url 'catalog:Resume' %}"> RESUME</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Contact' %}"> CONTACT</a></li>
                    <li class="nav-item"><a class = "nav-link" href = "{% url 'catalog:Schedule' %}"> SCHEDULE</a></li>
                </ul>
            </nav>  
            </div>        
        </header>
        <section class="tutupan">
            <h1 class="turuninbro">
                Click Here!
            </h1>
            <div class="blinker">
                <img src="{% static 'image/ic_arrow_1053005.png' %}" onclick="window.location.href = '#resume';">
            </div>
        </section>
        <section class="grid" id="resume">
            <div class="container-fluid">
                <div class="row pertama">
                    <div class="col-md-6 kirisatu" data-parallax="scroll" data-image-src="{% static 'image/begron_rev4.png' %}">
                        <img class="ganteng" src="{% static 'image/ganteng.png' %}">
                        <p class="experience">
                            Experience
                        </p>
                        <p class="skills">
                            Skills
                        </p>
                        </div>
                    <div class="col-md-6 kanansatu">
                        <p class="aboutmehjudul">
                            About Me
                        </p>
                        <p class="aboutmehisi">
                            Saya adalah seorang mahasiswa FASILKOM UI<br>
                            Semester 3. Saya dipercaya sebagai orang <br>
                            yang cepat mempelajari hal yang saya se-<br>
                            nangi, terutama dalam bermusik. Dengan <br>
                            bermusik, tidak hanya hidup saya yang <br>
                            akan indah, tetapi orang lain pun juga.<br>
                        </p>
                        <img class="senbud" src="{% static 'image/senbud.png' %}">
                        <p class="captionexp2">
                            Staff of BEM Seni Budaya 2019
                        </p>
                        <img class="uiaw" src="{% static 'image/uiaw7Cropped.png' %}">
                        <p class="captionexp">
                            - Equipment Staff UIAW 2018<br>
                            - Film Contingent UIAW 2018
                        </p>
                        <div class="container skillsbar">
                            <div class="bar front advanced" data-skill="Guitar">
                            </div>
                            <div class="bar front intermediate" data-skill="DJ">
                            </div>
                            <div class="bar front intermediate" data-skill="Bass">
                            </div>
                            <div class="bar front learning" data-skill="Keyboard/Piano">
                            </div>
                            <div class="bar front basic" data-skill="Drum">
                            </div>
                            <div class="bar front intermediate" data-skill="Vocal">
                            </div>
                            <div class="bar front basic" data-skill="Adobe Photoshop">
                            </div>
                            <div class="bar front intermediate" data-skill="Adobe Premiere">
                            </div>
                            <div class="bar front intermediate" data-skill="Adobe After Effects">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <footer class="bawahankaki">
            <p class="captionbawah">
                © 2019 Akbar Rafsanjhani. All rights reserved.
            </p>
        </footer>
    </body>
</html>