<!DOCTYPE html>
<html lang="en">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
            {% load staticfiles %}
        <link rel="icon" href="{% static 'image/logo.png' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/Video.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
        <title>
            akbarrafs - Video
        </title>
    </head>
    <section class="video">
    <p><a href="{% url 'catalog:Portofolio' %}">
        X
    </a>
    </p>
    <img src="{% static 'image/play.png' %}">
    </section>
</html>