*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
    background-color: black;
}

header{
    height: 100vh;
}
.captiontengah{
    text-shadow: 1px 1px 10px black;
    font-size: 70px;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 420px;
    text-align: center;
    margin: 0;
}
.captionbawah{
    font-size: 30px;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 20px;
    text-align: center;
    transition: 0.6s ease;
    text-decoration: none; 
}
.captionbawah a:hover{
    background-color: white;
    padding: 2px 10px;
    -webkit-text-fill-color:  black;
    transition: 0.6s ease;
}
.gallery{
    font-size: 30px;
    font-style: italic;
    -webkit-text-fill-color: white;
    padding-top: 20px;
    text-align: center;
    transition: 0.6s ease;
    text-decoration: none; 
}
.gallery a:hover{
    background-color: white;
    padding: 2px 10px;
    -webkit-text-fill-color:  black;
    transition: 0.6s ease;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 1em;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.navbar-nav li a{
    text-decoration: none; 
    color:white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color:white;
    color:black;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color:white;
    color:black;
}

.captionbawah{
    font-size: 20px;
}

/*  */


@media only screen and (max-width : 600px){
    .navbar-nav{
        float: right;
        margin-right: 0px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    .logo img{
        float: left;
        width: 40px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    .bawahankaki{
        position: relative;
        height: 12vh;
        width:  100vw;
    }

}