*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
    background-color: black;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.fesbok{
    width: 120px;
    margin-left: 490px;
    margin-top: 300px;
}
.ig{
    width: 100px;
    margin-left: 30px;
    margin-top: 300px;
}
.yt{
    width: 135px;
    margin-left: 30px;
    margin-top: 300px;
}
.meyl{
    width: 180px;
    margin-left: 30px;
    margin-top: 300px;
}
.twit{
    width: 100px;
    margin-left: 30px;
    margin-top: 340px;
}

p a{
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
    color: white;
    transition: 0.6s ease;
}

.webnya p a:hover{
    -webkit-text-fill-color: black;
    transition: 0.6s ease;
}


@media only screen and (max-width : 600px){
    .fesbok{
        width: 110px;
        margin-left: 30px;
        margin-top: 300px;
    }
    .ig{
        width: 90px;
        margin-left: 30px;
        margin-top: 300px;
    }
    .yt{
        width: 125px;
        margin-left: 30px;
        margin-top: 300px;
    }
    .meyl{
        width: 170px;
        margin-left: 30px;
        margin-top: 100px;
    }
    .twit{
        width: 90px;
        margin-left: 30px;
        margin-top: 0px;
    }
}