*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
    background-color: black;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

header{
    height: 12vh;
}

.konten{
    width: 100%;
    text-align: center;
}

.textcuy{
    -webkit-text-fill-color: black;
    background-color:white;
    width: 100%;
    display: inline-block;
    transition: 0.6 ease;
    margin-bottom: 40px;
    margin-top: 30px;
}

.btn-primary{
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-size: 1em;
    border: 2px solid white;
    background: black;
    padding: 10px 10px;
    transition: 0.6s ease;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-secondary{
    text-decoration: none;
    -webkit-text-fill-color: white;
    font-size: 1em;
    border: 2px solid white;
    background: black;
    padding: 10px 10px;
    transition: 0.6s ease;
    margin-bottom: 30px;
    margin-top: 50px;
}

.btn-primary:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}
.btn-secondary:hover{
    text-decoration: none;
    -webkit-text-fill-color: black;
    border: 2px solid black;
    background: white;
    transition: 0.6s;
}


/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 1em;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.navbar-nav li a{
    text-decoration: none; 
    color:white;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color:white;
    color:black;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color:white;
    color:black;
}
/*  */

/* Modal*/




.modal{
    background-color: rgba(0, 0, 0, 0.3);
}

.modal-dialog{
    background-color: white;
}

.modal-header{
    background-color: white;
}
.modal-title{
    background-color: white;
}
.close{
    color: black;
}

input{
    border: solid 1px;
    background-color: white;
    margin-bottom: 10px;
}
.modal-body{
    background-color: white;
    border: 0px;
}
.modal-content{
    background-color: white;
    border: 0px;
}

.modal-footer{
    background-color: white;
}



.tomblo{
    font-size: 2em;
    text-align: center;
    background-color: gray;
    -webkit-text-fill-color: white;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    margin-bottom: 20px;
}

.tomblo:hover{
    font-size: 2em;
    text-align: center;
    background-color: white;
    -webkit-text-fill-color: black;
    height: 25vh;
    width: 30vw;
    transition: 0.6s ease;
    align-items: center;
    transform: scale(1.01);
    z-index: 2;
    transition: 0.3s ease-in;
    margin-bottom: 20px;
}

@media only screen and (max-width : 600px){
    .navbar-nav{
        float: right;
        margin-right: 0px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    .logo img{
        float: left;
        width: 40px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    .bawahankaki{
        position: relative;
        height: 12vh;
        width:  100vw;
    }

    .btn-primary{
        margin-bottom: 30px;
        margin-top: 400px;
    }

    .textcuy{
        margin-top: 30px;
    }

}