*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    animation: fade 0.6s;
}

.logo img{
    float: left;
    width: 80px;
    height: auto;
    margin-top: 20px;
    margin-left: 20px;
}

/*  NAVBAR */
.navbar-nav{
    float: right;
    margin-right: 30px;
    font-size: 1em;
}

.navbar-nav li{
    display: inline-block;
    margin-top: 37px;
    margin-right: 40px
}

.navbar-nav li a{
    text-decoration: none; 
    color:black;
    padding: 2px 10px;
    transition: 0.6s ease;
}

.navbar-nav li a:hover{
    background-color:black;
    color: white;
    transition: 0.6s ease;
}

.navbar-nav li.active a{
    background-color:black;
    color:white;
}
/*  */

header{
    height: 12vh;
}

@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/*  */
/*  */
.topbackground{
    position: relative;
    height: 895px;
    width: 1680px;
}
.phum img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 100px;
}
.phumcaption{
    float: right;
    position: relative;
    text-align: justify;
    margin-right: 150px;
    bottom: 330px;
    font-size: 65px;
}
/*  */
/*  */
.midbackground{
    position: relative;
    height: 895px;
    width: 1680px;
    background-color: lightgrey;
}
.boy img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 935px;
}
.boycaption{
    float: left;
    position: relative;
    text-align: justify;
    margin-left: 175px;
    bottom: 285px;
    font-size: 65px;
}
/*  */
/*  */
.botbackground{
    position: relative;
    height: 895px;
    width: 1680px;
}.paul img{
    height: 400px;
    width: auto;
    margin-top: 220px;
    margin-left: 100px;
}
.paulcaption{
    float: right;
    position: relative;
    text-align: justify;
    margin-right: 110px;
    bottom: 290px;
    font-size: 65px;
}
/*  */
/*  */
.bawahankaki{
    position: relative;
    height: 150px;
    width: 1680px;
    background-color:black;
}

.captionbawah{
    position: relative;
    font-size: 15px;
    -webkit-text-fill-color: white;
    text-align: center;
    top: 65px;
}


@media only screen and (max-width : 600px){
    .navbar-nav{
        float: right;
        margin-right: 0px;
        font-size: 0.8em;
        margin-top: 20px;
    }
    
    
    .captiontengah{
        text-shadow: 1px 1px 10px black;
        font-size: 3em;
        font-style: italic;
        -webkit-text-fill-color: white;
        padding-top: 450px;
        text-align: center;
        margin: 0;
    } 
    
    .logo img{
        float: left;
        width: 40px;
        height: auto;
        margin-top: 20px;
        margin-left: 20px;
    }
    
    .main{
        margin: auto;
    }
    
    /*  PORTOFOLIO BUTTON */
    .portobutton{
        font-size: 1em;
        border: 2px solid white;
        background: black;
        margin-left: 170px;
        margin-top: 100px;
    }
    
    .portobutton:hover{
        text-decoration: none;
        -webkit-text-fill-color: black;
        border: 2px solid black;
        background: white;
        transition: 0.6s;
    }
    /*  */
    .bawahankaki{
        position: relative;
        height: 12vh;
        width:  100vw;
    }
    
    .captionbawah{
        position: relative;
        font-size: 10px;
        text-align: center;
        top: 45px;
    }

    *  */
/*  */
.topbackground{
    position: relative;
    height: 895px;
    width: auto;
}
.phum img{
    height: 28vh;
    width: auto;
    margin-top: 40px;
    margin-left: 55px;
}
.phumcaption{
    float: left;
    position: relative;
    text-align: justify;
    top: 120px;
    left: 150px;
    font-size: 1.5em;
}
/*  */
/*  */
.midbackground{
    position: relative;
    height: 895px;
    width: auto;
}
.boy img{
    height: 28vh;
    width: auto;
    margin-top: 40px;
    margin-left: 55px;
}
.boycaption{
    float: left;
    position: relative;
    text-align: justify;
    top: 120px;
    left: -40px;
    font-size: 1.9em;
}
/*  */
/*  */
.botbackground{
    position: relative;
    height: 895px;
    width: auto;
}.paul img{
    height: 28vh;
    width: auto;
    margin-top: 40px;
    margin-left: 55px;
}
.paulcaption{
    float: left;
    position: relative;
    text-align: justify;
    top: 120px;
    left: 150px;
    font-size: 1.5em;
}
/*  */
/*  */

}